<!DOCTYPE html>
<html lang="en">
	<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="static/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="static/css/style.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="static/js/bootstrap.min.js"></script>

		<title>Ghost Gear Easy Report - Identify Abandoned Fishing Equipment</title>
        <style>
      #map {
        width: 400px;
        height: 300px;
        margin-right: auto;
        margin-left: auto;
      }
    </style>
	</head>

	<body>

        <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Home</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/find">Find reported ghost gear <span class="sr-only">(current)</span></a></li>

      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
		<div id="wrapper" class="center">
           
		
                 <div id="header">
			<div class="row">
<h1 class="center">Ghost Gear Easy Report</h1>
                </div></div>
<div class="row80 center">
    
        <div class="progress center">
        <div class="zero no-color"></div>
        <div class="one no-color"></div>
        <div class="two no-color"></div>
        <div class="three no-color"></div>
        <div class="four no-color"></div>
        <div class="five no-color"></div>
        <div class="six no-color"></div>
        <div class="seven no-color"></div>
        <div class="eight no-color"></div>
        <div class="nine no-color"></div>
        <div class="ten no-color"></div>
            <div class="progress-bar" style="width: 0%;"></div>
        </div></div>

        <div class="col-md-8 col-md-offset-2">
         <div class="text-left">                


        <div class="panel panel-info">

            <div class="panel-body">
                 <blockquote class="blockquote"><p class= "m-b-0">Couldn't find any results matching your criteria</p></blockquote>
                <a href="/find" class="btn btn-info" role="button">Try again</a>

            </div>


         </div>
     </div>   

  </div>  

</div>
<div id="map"></div>
        
        </div>

	</body>
</html>