html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

*{
	margin:0; padding:0;
}

body{
	min-height: 600px;

}

#header{
	background-color: #DAECF2;
	background-size: cover;
	padding: 30px;
	height: 15vh;
}

#centerwrap{
	margin:auto;
	width: 100%;
	height: inherit;

}

#wrapper{
	width: 100%;
	height: 100%;
	height: 70vh;
}

.center{
	text-align: center;
	margin: auto;
}

.progress{
	margin-top: 20px;
	margin-bottom: 20px;
	width: 75%;
}

.glyphicon.glyphicon-picture {
    font-size: 100px;
}

.glyphicon.glyphicon-flag {
    font-size: 100px;
}


.justify{
	display: -webkit-flex; /* Safari */
    -webkit-justify-content: space-around; /* Safari 6.1+ */
    display: flex;
    justify-content: space-around;
}

.col2{
	width:50%;
	height: 100%;
	border-style: dotted;
	border-color: gray;
	border-width: 1px;
	

display:flex;
flex-flow:column;
justify-content:center;
align-items:center;



}
.blank2{
	width:2%;
	margin: 0px;
	padding: 0px;
}

.thumbnail{
	background-color: #FFFFFF;
	vertical-align: middle;

}

.row2{
	height: 100%;
}

.row100{
	width: 100%;
}

.row80{
	width: 80%;
}

.column3stack{
	height:20vh;
	width: 100%;
	background-size: auto 250px;
	background-position: auto 100px;
	vertical-align: middle;
	background-repeat: repeat-x;
}

h3.column3stack{
	color: #FFFFFF;
}

#knotless{
	background: url(../img/knotlesscrop.png);
}

#knotted{
	background: url(../img/knotted.png);
}




/*PROGRESS BAR CSS*/
.zero, .one, .two, .three, .four, .five, .six, .seven, .eight,.nine,.ten{
    position:absolute;
	margin-top: -5px;
	z-index:1;
	height:30px;
	width:30px;
	border-radius:15px;
}

.progress{
	width: 100%;
}


.zero{
	left:9%;
}
.one{
	left:17%;
}
.two{
	left:25%;
}
.three{
	left:33%;
}
.four{
	left:41%;
}
.five{
	left:50%;
}
.six{
	left:58%;
}
.seven{
	left:66%;
}
.eight{
	left:74%;
}
.nine{
	left:81%;
}
.ten{
	left:88%;
}
.primary-color{
	background-color:#4989bd;
}
.success-color{
	background-color:#5cb85c;
}
.danger-color{
	background-color:#d9534f;
}
.warning-color{
	background-color:#f0ad4e;
}
.info-color{
	background-color:#5bc0de;
}
.no-color{
	background-color:inherit;
}

